<div class="aside">
    <a href="/home"><div class=" restaurantes"id="restaurantes">Restaurantes</div></a>
    <a href="/eventos"><div class="eventos" id="eventos">Eventos</div></a> 
    <a href="/boliches"><div class="boliches" id="boliches">Boliches</div></a>
    
</div>

<div class="contenido">
    
    {{#each locales}}
        <div class="cartas">
                <p class="nombre">Nombre: {{this.nombre}}</p>
                <p>Direccion: {{this.direccion}}</p>
                <p>Precio de Reserva: {{this.precioreserva}}</p>
                <p>Disponibilidad: {{this.dispDias}}</p>
                <p>Horario: {{this.dispHoras}}</p>
                <img src="img/locales/{{this.localPic}}" alt="">
                <form action="/reservar" method="get">
                <input class="reserva-btn" type="submit" value="Reservar!">
                </form>
                
            </div>
            {{/each}}
        </div>
                    
                 


<script src="js/home.js"></script>



